<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio de Libros</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        /* Encabezado */
        .ui-header {
            background-color: #5c7cfa;
            color: white;
            text-align: center;
            padding: 10px 0;
        }

        /* Contenido */
        .ui-content {
            padding: 20px;
        }

        /* Lista de libros */
        .book-list {
            margin-bottom: 30px;
            padding: 0;
            list-style: none;
        }

        .book-item {
            background-color: #ffffff;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .book-title {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }

        .book-details {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 16px;
            color: #555;
        }

        .book-details li {
            margin-bottom: 5px;
        }

        /* Botones de acciones */
        .action-buttons {
            text-align: right;
        }

        .action-buttons a {
            display: inline-block;
            margin-left: 10px;
            padding: 8px 15px;
            background-color: #5c7cfa;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .action-buttons a:hover {
            background-color: #3c5a9a;
        }

        /* Pie de página */
        .ui-footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>

<!-- Página de Inicio -->
<div data-role="page" id="home">

    <div data-role="header" class="ui-header">
        <h1>Libros <i class="fas fa-book"></i></h1>
    </div>

    <div role="main" class="ui-content">
        <ul class="book-list">
            <% books.forEach(book => { %>
                <li class="book-item">
                    <h2 class="book-title"><i class="fas fa-book-open"></i> <%= book.title %></h2>
                    <ul class="book-details">
                        <li><strong>Código:</strong> <%= book.code %></li>
                        <li><strong>Autor:</strong> <%= book.author %></li>
                        <li><strong>Descripción:</strong> <%= book.description %></li>
                        <li><strong>Estatus:</strong> <%= book.status %></li>
                    </ul>
                    <div class="action-buttons">
                        <a href="/book/<%= book.code %>"><i class="fas fa-edit"></i> Editar</a>
                        <a href="/book/d/<%= book.code %>"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    </div>
                </li>
            <% }) %>
        </ul>
        <div class="add-book-button">
            <a href="#formulario" data-role="button" data-icon="plus" data-iconpos="left" class="ui-btn ui-btn-b ui-corner-all ui-shadow">Agregar Libro</a>
        </div>
    </div>

    <div data-role="footer" class="ui-footer">
        <h4>Libros - © 2024 Desarrollado por Esperanza</h4>
    </div>
</div>


<!-- Página del Formulario para Agregar Nuevo Libro -->
<div data-role="page" id="formulario">

    <div data-role="header" data-theme="b">
        <h1>Agregar Nuevo Libro</h1>
    </div>

    <div role="main" class="ui-content">
        <img src="/descarga.jpg" alt="Imagen de ejemplo" style="max-width: 100%; height: auto; border-radius: 5px; margin-bottom: 20px;">

        <form action="/book/" method="POST" id="addBookForm">

            <label for="code">Codigo:</label>
            <input type="text" name="code" required class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" style="margin-bottom: 10px;">

            <label for="title">Título:</label>
            <input type="text" name="title" required class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" style="margin-bottom: 10px;">

            <label for="author">Autor:</label>
            <input type="text" name="author" required class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" style="margin-bottom: 10px;">

            <label for="description">Descripción:</label>
            <textarea name="description" required class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" style="margin-bottom: 10px;"></textarea>

            <label for="status">Disponible:</label>
            <select name="status" id="flip-2" data-role="slider" class="ui-slider-switch">
                <option value="0">No</option>
                <option value="1">Sí</option>
            </select>

            <button type="submit" class="ui-btn ui-btn-b ui-btn-raised ui-btn-inline ui-corner-all">Guardar</button>
        </form><br>

        <a href="#home" data-role="button" class="ui-btn ui-btn-b ui-corner-all ui-shadow">Volver</a>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b">
        <h4>Libros - © 2024 Desarrollado por Esperanza</h4>
    </div>
</div>


</body>
</html>