<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio de Libros</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
        /* Estilos personalizados */
        body {
            background-color: #f8f9fa; /* Color de fondo para todo el cuerpo */
        }
        .ui-header {
            background-color: #5c7cfa !important; /* Color de fondo del encabezado */
            color: white !important; /* Color del texto del encabezado */
        }
        .ui-footer {
            background-color: #343a40 !important; /* Color de fondo del pie de p치gina */
            color: white !important; /* Color del texto del pie de p치gina */
        }
        .ui-content {
            background-color: white !important; /* Color de fondo del contenido */
            color: #343a40 !important; /* Color del texto del contenido */
        }
        .ui-collapsible-content {
            border: 2px solid #5c7cfa; /* Borde del contenido plegable */
            border-radius: 5px; /* Borde redondeado */
        }
        .ui-body-inherit {
            background-color: #f8f9fa !important; /* Color de fondo para los botones */
            border-color: #5c7cfa !important; /* Color del borde de los botones */
            color: #5c7cfa !important; /* Color del texto de los botones */
        }
        .ui-btn:hover {
            background-color: #5c7cfa !important; /* Color de fondo al pasar el rat칩n sobre los botones */
            color: white !important; /* Color del texto al pasar el rat칩n sobre los botones */
        }
        .ui-btn:active {
            background-color: #343a40 !important; /* Color de fondo al hacer clic en los botones */
            color: white !important; /* Color del texto al hacer clic en los botones */
        }
    </style>
</head>
<body>

<!-- P치gina de Inicio -->
<div data-role="page" id="home">
    <div data-role="header">
        <h1>Libros 游닄</h1>
    </div>

    <div role="main" class="ui-content">
        <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
            <% books.forEach(book => { %>
                <div data-role="collapsible">
                    <h3><%= book.title %></h3>
                    <ul data-role="listview" data-inset="false">
                        <li><strong>Codigo</strong> <%= book.code %></li>
                        <li><strong>Titulo:</strong> <%= book.title %></li>
                        <li><strong>Autor:</strong> <%= book.author %></li>
                        <li><strong>Descripci칩n:</strong> <%= book.description %></li>
                        <li><strong>Estatus:</strong> <%= book.status %>
                        <!-- Agrega m치s detalles del libro aqu칤 -->
                    </ul>
                    <!-- Botones de editar y eliminar -->
                    <div data-role="controlgroup" data-mini="true" data-type="horizontal">
                        <a href="/book/<%= book.code %>" class="ui-btn ui-btn-b">Editar</a>
                        <a href="/book/d/<%= book.code %>" class="ui-btn ui-btn-b">Eliminar</a>
                    </div>
                </div>
            <% }) %>
        </div>
        <!-- Bot칩n para agregar m치s libros --><br><br>
        <a href="#formulario" data-role="button" class="ui-btn ui-btn-b ui-corner-all ui-shadow">Agregar Libro</a>
    </div>

    <div data-role="footer" data-position="fixed">
        <h4>Libros - 춸 2024 Desarrollado por Esperanza</h4>
    </div>
</div>


<!-- P치gina del Formulario para Agregar Nuevo Libro -->
<div data-role="page" id="formulario">
    <div data-role="header">
        <h1>Agregar Nuevo Libro</h1>
    </div>

    <div role="main" class="ui-content">
        <form action="/book/" method="POST" id="addBookForm">

            <label for="code">Codigo:</label>
            <input type="text" name="title" required>

            <label for="title">T칤tulo:</label>
            <input type="text" name="title" required>

            <label for="author">Autor:</label>
            <input type="text" name="author" required>

            <label for="description">Descripci칩n:</label>
            <textarea name="description" required></textarea>

            <label for="status">Disponible</label>
                <select name="status" id="flip-2" data-role="slider">
                    <option value="0"></option>
                    <option value="1"></option>
                </select>

            <button type="submit">Guardar</button>
        </form>
    </div>

    <div data-role="footer">
        <h1>Libros - 춸 2024 Desarrollado por Esperanza</h1>
    </div>
</div>

</body>
</html>
